<div class="container">
	<h3>lista de personas</h3>
	<ul *ngFor = " let person of people ">
		<li>
			<a [class.selected]="selectedPerson===person" (click)="selected(person)">  {{ person.id }} {{ person.name }} </a>
		</li>
	</ul>

	<h4> Add New Person </h4>
	<input [(ngModel)]="newPerson.name" type="text">
	<button class="btn" (click)="addPerson(newPerson)" >Add</button>
</div>

<!-- <div *ngIf="selectedPerson">
	<h4> {{ selectedPerson.name | uppercase }} details! </h4>
	<label> id: {{ selectedPerson.id }}</label>
	<input [(ngModel)]="selectedPerson.name" type="text">
</div> -->